<div class="transactions">
    <div class="tHead d-flex justify-content-between align-items-center my-0">
        <h1 class="m-0 fs-3">Transaction History</h1>
        <div class="filter d-flex align-items-center border border-2 rounded-2 px-3 py-2">
            <div class="fIcon pe-2"><i class="fa-solid fa-arrow-down-short-wide"></i></div>
            <div class="fTxt">Apply Filter</div>
        </div>
    </div>
    <div class="transaction-table d-flex flex-column">
    <div class="tHeader border-bottom rounded-top-3 p-2 d-flex justify-content-between align-items-center">
        <span class="col-lg-2">Transaction</span>
        <span class="col-lg-2">Amount</span>
        <span class="col-lg-2">Status</span>
        <span class="col-lg-2">Date</span>
        <span class="col-lg-2">Category</span>
    </div>

    <!-- Table Row 1 -->
    <div class="table-row border-bottom rounded-top-3 p-2 d-flex justify-content-between col-lg-12 align-items-center">
        <div class="tImg col-lg-2">
            <img src="spotify-logo.png" alt="Spotify" class="icon">
            <span >Spotify</span>
        </div>
        <div class="amount text-red col-lg-2">- $15.00</div>
        <div class="status processing col-lg-2">Processing</div>
        <div class="date col-lg-2">Wed 1:00pm</div>
        <div class="category subscriptions col-lg-2">Subscriptions</div>
    </div>
    <!-- Table Row 2 -->
    <div class="table-row border-bottom rounded-top-3 p-2 d-flex justify-content-between col-lg-12 align-items-center">
        <div class="tImg col-lg-2">
            <img src="figma-logo.png" alt="figma" class="icon">
            <span >Figma</span>
        </div>
        <div class="amount text-red col-lg-2">- $15.00</div>
        <div class="status processing col-lg-2">Processing</div>
        <div class="date col-lg-2">Wed 1:00pm</div>
        <div class="category subscriptions col-lg-2">Subscriptions</div>
    </div>
    <!-- Table Row 3 -->
    <div class="table-row border-bottom rounded-top-3 p-2 d-flex justify-content-between col-lg-12 align-items-center">
        <div class="tImg col-lg-2">
            <img src="fresh.jpg" alt="fresh" class="icon">
            <span >Alexa Joe</span>
        </div>
        <div class="amount text-red col-lg-2">+ $100.00</div>
        <div class="status processing col-lg-2">Processing</div>
        <div class="date col-lg-2">Wed 1:00pm</div>
        <div class="category subscriptions col-lg-2">Subscriptions</div>
    </div>
    <!-- Table Row 4 -->
    <div class="table-row border-bottom rounded-top-3 p-2 d-flex justify-content-between col-lg-12 align-items-center">
        <div class="tImg col-lg-2">
            <img src="spotify-logo.png" alt="Spotify" class="icon">
            <span >Spotify</span>
        </div>
        <div class="amount text-red col-lg-2">- $15.00</div>
        <div class="status processing col-lg-2">Processing</div>
        <div class="date col-lg-2">Wed 1:00pm</div>
        <div class="category subscriptions col-lg-2">Subscriptions</div>
    </div>
    <!-- Table Row 5 -->
    <div class="table-row border-bottom rounded-top-3 p-2 d-flex justify-content-between col-lg-12 align-items-center">
        <div class="tImg col-lg-2">
            <img src="figma-logo.png" alt="figma" class="icon">
            <span >Figma</span>
        </div>
        <div class="amount text-red col-lg-2">- $15.00</div>
        <div class="status processing col-lg-2">Processing</div>
        <div class="date col-lg-2">Wed 1:00pm</div>
        <div class="category subscriptions col-lg-2">Subscriptions</div>
    </div>
</div>
</div>