<div class="container">
    <div class="head d-flex align-items-center justify-content-between">
        <div class="headTxt">
            <h2> {{tHistory}} </h2>
            <p>{{thTxt}}</p>
        </div>
        <div class="selectTab">
            <div class="sAccount d-flex justify-content-between border rounded-3 p-2 w-5">
                <div class="card text-primary"><i class="fa fa-book"></i></div>
                <div class="text pe-2 ps-1 fw-medium">Select Account</div>
                <div class="icon pe-1"><i class="fa fa-caret-down"></i></div>
            </div>
        </div>
    </div>
    <div class="bank d-flex justify-content-between px-3 py-3 mb-4 rounded-3 text-white align-items-center mt-4">
        <div class="bDetails gap-2 d-flex flex-column">
            <h1 class="m-0 fs-2">Chase</h1>
            <p class="m-0 ">Chase Growth Savings Account</p>
            <p class="m-0 fw-medium fs-5 ">6801546010</p>
        </div>
        <div class="curBal">
            <div class="box rounded-3 border border-1 px-3 py-3 border-white ">
                <p class="m-0">Current Balance</p>
                <h1 class="m-0 fs-2">$20,000.98</h1>
            </div>
        </div>
    </div>
    <app-history></app-history>
</div>
