<div class="container d-flex flex-column gap-2">
    <div class="head d-flex justify-content-between mb-0 px-2 py-3 align-items-center align-middle rounded-3">
        <div class="bankName d-flex gap-4 align-middle align-items-center">
            <div class="logo p-0 m-0">
                <!-- <img src="" alt=""> -->
                 <div class="rounded-circle py-1 px-2 bg-primary text-center">
                    <p class="fs-5 text-white p-0 m-0">CB</p>
                 </div>
            </div>
            <div class="name d-flex flex-column p-0 m-0">
                <p class="m-0 fs-4 fw-bold"> {{chase}} </p>
                <p class="fw-semibold fs-5 m-0"> {{curBal}} </p>
            </div>
        </div>
        <div class="savings">
            <div class="text rounded-pill px-3 fw-medium">
                <p>savings</p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <app-history></app-history>
    </div>
</div>
